
/* Cursor.css */
.cursor,
.cursor-trail {
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

/* Основной курсор */
.cursor {
  width: 19px;
  height: 19px;
  background-color: #61dafb;
  transition: transform 0.2s ease-out;
  mix-blend-mode: difference;
}

/* След от курсора */
.cursor-trail {
  width: 25px;
  height: 25px;
  background-color: rgba(97, 218, 251, 0.5);
  filter: blur(5px);
  transition: transform 0.3s ease-out;
}
