.home {
    position: relative;
    height: 100vh;
    background-color: #111;
    overflow: hidden;

    &__title {
        position: absolute;
        z-index: 10;
        top: 200px;
        left: 50px;
        font-weight: 700;
        font-size: 50px;
        padding: 0 20px;
        display: inline-block;
        @media only screen and (max-width: 545px) {
            left: 0px;
            font-size: 40px;
            padding: 0 12px;
        }

        @media not all and (min-resolution: 0.001dpcm) {
            @supports (-webkit-appearance: none) {
                @media only screen and (max-width: 545px) {
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100%;
                }
            }
        }        

        @-moz-document url-prefix() {
            @media only screen and (max-width: 545px) {
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
            }
        }
       
        p {
            display: inline-block;
            text-wrap: nowrap;
            @-moz-document url-prefix() {
                margin-right: 18px;
                @media only screen and (max-width: 545px) {
                    margin-right: 0px;
                }
            }
            @media not all and (min-resolution: 0.001dpcm) {
                @supports (-webkit-appearance: none) {
                    margin-right: 18px;
                    @media only screen and (max-width: 545px) {
                        margin-right: 0px;
                    }
                }
            }        
        }
    }
    &__name {
        font-family: "Julee", sans-serif;
        @-moz-document url-prefix() {
            @media only screen and (max-width: 545px) {
                text-align: center;
            }    
        }
        @media not all and (min-resolution: 0.001dpcm) {
            @supports (-webkit-appearance: none) {
                @media only screen and (max-width: 545px) {
                    text-align: center;
                }  
            }
        }     
    }

    &__block {
        @-moz-document url-prefix() {
            display: flex;
            align-items: center;
            @media only screen and (max-width: 545px) {
                flex-direction: column;
            }
        }
        @media not all and (min-resolution: 0.001dpcm) {
            @supports (-webkit-appearance: none) {
                display: flex;
                align-items: center;
                @media only screen and (max-width: 545px) {
                    flex-direction: column;
                }
            }
        }   
    }

    &__text {
        position: relative;
        letter-spacing: 2px;
        line-height: 1.5;
        padding: 5px 10px;
        margin-left: 15px;
        color: transparent;
        -webkit-text-stroke: 1px #61dafb;
        animation: displayText 12s infinite;
        // animation-delay: calc(-3s * var(--i));
        @-moz-document url-prefix() {
            animation: displayTextFix 12s infinite;
            padding: 5px 10px;
            margin-left: 0;
            opacity: 0;
            height: 0;
            width: 0;
            display: inline-block;
            visibility: hidden; // Скрываем визуально
            overflow: hidden;   // Обрезаем содержимое
        }
        @media not all and (min-resolution: 0.001dpcm) {
            @supports (-webkit-appearance: none) {
                animation: displayTextFix 12s infinite;
                padding: 5px 10px;
                margin-left: 0;
                opacity: 0;
                height: 0;
                width: 0;
                display: inline-block;
                visibility: hidden; // Скрываем визуально
                overflow: hidden;   // Обрезаем содержимое
            }
        }   
        @media only screen and (max-width: 545px) {
            margin-left: 5px;
            letter-spacing: 0px;
        }

        &::before {
            // content: attr(data-text);
            top: 0px;
            left: -1px;
            position: absolute;
            width: 0;
            height: 100%;
            overflow: hidden;
            color: #61dafb;
            white-space: nowrap;
            border: 1px solid #61dafb;
            box-sizing: border-box;
            border-radius: 10px;
            padding: 5px 10px;
            animation: animate 3s linear infinite;
            filter: drop-shadow(0 0 5px #61dafb) drop-shadow(0 0 25px #61dafb);
            @-moz-document url-prefix() {
                padding: 5px 10px;
            }
            @media not all and (min-resolution: 0.001dpcm) {
                @supports (-webkit-appearance: none) {
                    padding: 5px 10px;
                }
            }   
        }

      

        &--react {
            animation-delay: 0s;
            &::before {
                content: 'React.';
            }
        }
        &--javascript {
            animation-delay: -3s;
            &::before {
                content: 'Javascript.';
            }
        }
    
        &--frontend {
            animation-delay: -6s;
            &::before {
                content: 'Frontend.';
            }
        }
    
        &--backend {
            animation-delay: -9s;
            &::before {
                content: 'Backend.';
    
            }
        }
    }


}


    @keyframes displayTextFix {
        0% {
            opacity: 0;
            visibility: hidden;
            height: 0;
            width: 0;
        }
        10% {
            opacity: 1;
            visibility: visible;
            height: auto;
            width: auto;
        }
        25% {
            opacity: 1;
            visibility: visible;
            height: auto;
            width: auto;
        }
        35% {
            opacity: 0;
            visibility: hidden;
            height: 0;
            width: 0;
        }
        90% {
            opacity: 0;
        }
        100% {
            visibility: hidden;
            height: 0;
            width: 0;
            opacity: 0;
        }
    }


@keyframes displayText {
    0% {
        display: inline-block;
    }

    25% {
        display: none;
    }

    100% {
        display: none;
    }
}




@keyframes animate {
    0% {
        width: 0;
    }

    10% {
        width: 0;
    }

    70% {
        width: 100%;
    }

    90% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}





























// /* Специфичные стили для Safari */
// @media not all and (min-resolution:.001dpcm) { 

//     .home__title--react {
//         animation-delay: 0s;
//     }

//     .home__title--javascript {
//         animation-delay: 3s;
//     }

//     .home__title--frontend {
//         animation-delay: 6s;
//     }

//     .home__title--backend {
//         animation-delay: 9s;
//     }

//     .home__title--react::before {
//         content: 'React.';
//     }

//     .home__title--javascript::before {
//         content: 'Javascript.';
//     }

//     .home__title--frontend::before {
//         content: 'Frontend.';
//     }

//     .home__title--backend::before {
//         content: 'Backend.';
//     }



// /* Применение анимаций для других браузеров */
// .home__title--react {
//     animation-delay: 0s;
// }

// .home__title--javascript {
//     animation-delay: 3s;
// }

// .home__title--frontend {
//     animation-delay: 6s;
// }

// .home__title--backend {
//     animation-delay: 9s;
// }



// .home__title--react::before {
//     content: 'React.';
// }

// .home__title--javascript::before {
//     content: 'Javascript.';
// }

// .home__title--frontend::before {
//     content: 'Frontend.';
// }

// .home__title--backend::before {
//     content: 'Backend.';
// }


// }